html, body {
	height:100%;
	overflow:hidden;
}

.carousel,
.item,
.active {
	height:100%;
}

.carousel-inner {
	height:100%;
}

.fill {
	width:100%;
	height:100%;
	background-position: center;
	background-size: cover;
}

.section {
	margin: 50px 0;
}


.movieTitleHeader{
	text-align:center;
	padding-bottom:20px;
	color: #4e4d4b;
}

.moviePoster{
	height:67vh;
	width:auto;	
	
}

.tableHeader{
	text-align:left;
	font-weight: bold;
	vertical-align:top;
	color: #000000;
	font-size: 2vh;
	padding-left:1.2vw;	
	
}
.tableContent{
	text-align:left;
	font-weight: bold;
	vertical-align:top;
	color: #000000;
	font-size: 2vh;
	padding-left:1.2vw;
}


.anouncer{
	padding-top:4vh;
	padding-bottom:2vh;
	font-size: 36px;
	font-size: 150%;
	font-weight: 500;
}

footer {
	margin: 50px 0;
}